<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story Board</title>
</head>
<body>
    Show the distinction between numbers and numerals as follows:
    1. Blank Line
    2. Line with one tick
    3. Label this with a 0
    4. Line with two ticks
    5. Label second tick with 1
    6. Line with several ticks and labels. 
    7. Numbers are points on the line. Numerals are labels for these points.
    7. After previous demonstration, introduce an interactive number line
       with a slider on it.
    8. Show how the whole line can be constructed using copy and paste
    9. Move onto the operations app to show how addition and multiplication work
</body>
</html>